@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome @User.Identity.Name </h1>
</div>

@section scripts{ 
<script>
    $(document).ready(function () {
        var Message = window.localStorage.getItem("Message");
        localStorage.removeItem("Message");
        if (Message != null) {
            show_notification(Message);
        } else {
            $("#notification_modal").hide();
        }
        $(".chart-loader").hide();
    });
</script>
}
